﻿@model EthoTrak.DatabaseModels.TblAREA_ID
@{
    ViewBag.Title = "Areas - Add";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Area", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <legend>Add an Area</legend>
        
        <div class="editor-label">
            Area Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.AREA)
        </div>  
        
        <div class="editor-label">
            Exhibit Name
        </div>
            <div class="editor-field">
            @Html.DropDownListFor(model => model.EXHIB_ID, new SelectList(@ViewBag.exhibits, "Value", "Text"))
        </div>  

        <br />
        <center><input type="submit" class="btn btn-success" value="Add Area" /></center>
        <br />

    </fieldset>
}