﻿@using EthoTrak.DatabaseModels

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Areas";
}
<h3>Areas :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add an area", "Add", "Area", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Area Name</th>
        <th>Exhibit Name</th>
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (TblAREA_ID area in @ViewBag.areas) {

    <tr>
        <td>@area.AREA_ID</td>
        <td>@area.AREA</td>
        <td>@area.EXHIB_ID</td>
        <td>@area.ACT_DT</td> 
        <td>@Html.ActionLink("Edit", "Edit", "Area", new {id = area.AREA_ID}, new { @class="btn btn-small"})</td>
        <td>@Html.ActionLink("Delete", "Delete", "Area", new { id = area.AREA_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('area')" })</td>
    </tr>
    }
</table>