﻿@model EthoTrak.DatabaseModels.TblANIM_ID

@{
    ViewBag.Title = "Animals - Edit";
}

<center>@Html.ActionLink("Go back", "All", "Animal", null, new { @class="btn"})</center><br />

@using (Html.BeginForm())
{
    <fieldset>

        <div class="editor-label">
            Description
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.DESC_ANIM)
        </div>

        <div class="editor-label">
            Species
        </div>
            <div class="editor-field">
            @Html.DropDownListFor(model => model.SPEC_ID, new SelectList(@ViewBag.species, "Value", "Text"))
        </div>

        <div class="editor-label">
            Institution Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.INST_ID)
        </div>
      
        <div class="editor-label">
            Sex
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.SEX)
        </div> 

        <div class="editor-label">
            Status
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.STATUS)
        </div>              
         
        <div class="editor-label">
            Comments
        </div>
            <div class="editor-field">
            @Html.TextAreaFor(model => model.COMMENTS, new { style = "height:100px;" } )
        </div>    

        <br />
        <center>
        <input type="submit" class="btn" value="Saves Changes" />
            </center>

    </fieldset>
}