﻿@model EthoTrak.DatabaseModels.TblEXHIB_ID

@{
    ViewBag.Title = "Exhibits - Add";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Exhibit", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <legend>Add an Exhibit</legend>
        
        <div class="editor-label">
            Exhibit Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.EXHIB)
        </div>   

        <br />
        <center><input type="submit" class="btn btn-success" value="Create Exhibit" /></center>
        <br />

    </fieldset>
}

<br />