﻿@using EthoTrak.DatabaseModels

@{
    ViewBag.Title = "Exhibits";
}
<h3>Exhibits :</h3>
<br />
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add an exhibit", "Add", "Exhibit", null, new { @class="btn"})
</center>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Added on</th>
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (TblEXHIB_ID exhibit in @ViewBag.exhibits) {

    <tr>
        <td>@exhibit.EXHIB_ID</td>
        <td>@exhibit.EXHIB</td>
        <td>@exhibit.ADD_DATE.Value.ToShortDateString()</td> 
        <td>@exhibit.ACT_DT</td>
        <td>@Html.ActionLink("Edit", "Edit", "Exhibit", new {id = exhibit.EXHIB_ID}, new { @class="btn btn-small"})</td>
        <td>@Html.ActionLink("Delete", "Delete", "Exhibit", new { id = exhibit.EXHIB_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('exhibit')" })</td>
    </tr>
    }
</table>