﻿@if (Request.IsAuthenticated)
{

      
  <div style="background-color:#C3A06D; height:40px;">
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                
                <ul class="nav">                    
                    <li class="btn btn-menu">@Html.ActionLink("Home", "Index", "Home")</li>     
                    <li class="divider-vertical"></li>               
                    <li class="btn btn-menu">@Html.ActionLink("Management", "Management", "Home")</li>  
                    <li class="divider-vertical"></li>     
                    <li class="btn btn-menu">@Html.ActionLink("Observations", "All", "Observation")</li>   
                    <li class="divider-vertical"></li>     
                    <li class="btn btn-menu">@Html.ActionLink("Dictionary", "PickSpecies", "Behavior")</li>           
                </ul>
                            @if (Roles.GetRolesForUser(User.Identity.Name).Length!=0)
            {
                <div class="account-type">Account Type : <b>@Roles.GetRolesForUser(User.Identity.Name).First()</b></div>
            }
            </div>
        </div>
    </div>
      </div>

  
}
else
{

}
