﻿@model EthoTrak.DatabaseModels.TblKEEP_ID

@{
    ViewBag.Title = "Keepers - Add";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Keeper", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>

        <legend>Add a Keeper</legend>

        <div class="editor-label">
            First Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FIRST)
        </div>

        <div class="editor-label">
            Middle Initials
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MID_INIT)
        </div>

        <div class="editor-label">
            Last Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LAST)
        </div>

        <div class="editor-label">
            Full Initials
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.KEEP_INIT)
        </div>

        <br />
        <center><input type="submit" class="btn btn-success" value="Add Keeper" /></center>
        <br />

    </fieldset>
}