﻿@{
    ViewBag.Title = "Management";
}

<table class="table">
    <tr>
        <td style="border-top: 0px; width: 33%;">
            <center>
                @if (User.IsInRole("Administrator")) 
                {
                @Html.ActionLink("Manage Species", "AllAdmin", "Species", null, new { @class = "btn btn-large btn-info btn-block" })
                }
                else
                {
                @Html.ActionLink("View Species", "All", "Species", null, new { @class = "btn btn-large btn-block" })
                }
                <br />
        @Html.ActionLink("Manage Animals", "All", "Animal", null, new { @class = "btn btn-large btn-block" })<br />
        @Html.ActionLink("Move Animals", "PickExhibit", "EnclosureAssignment", null, new { @class = "btn btn-large btn-block" })<br />
    @Html.ActionLink("View Enclosure Configurations", "All", "EnclosureAssignment", null, new { @class = "btn btn-large btn-block" })<br />
                    @if (User.IsInRole("Administrator")) 
                {
                @Html.ActionLink("Manage Behaviors", "All", "Behavior", null, new { @class = "btn btn-large btn-info btn-block" })
                }
        </center>
        </td>
        <td style="border-top: 0px; width: 33%;">
            <center>
        @Html.ActionLink("Manage Exhibits", "All", "Exhibit", null, new { @class = "btn btn-large btn-block" })<br />
        @Html.ActionLink("Manage Areas", "All", "Area", null, new { @class = "btn btn-large btn-block" })<br />
        @Html.ActionLink("Manage Enclosures", "All", "Enclosure", null, new { @class = "btn btn-large btn-block" })<br />
        @Html.ActionLink("Manage Locations", "All", "Location", null, new { @class = "btn btn-large btn-block" })<br />
    </center>
        </td>
        <td style="border-top: 0px; width: 33%;">
            <center>
        @Html.ActionLink("Manage Keepers", "All", "Keeper", null, new { @class = "btn btn-large btn-block" })<br />
        @Html.ActionLink("Assign Keepers to Exhibits", "PickExhibit", "KeeperAssignment", null, new { @class = "btn btn-large btn-block" })<br />
        @Html.ActionLink("View Keeper Assignments", "All", "KeeperAssignment", null, new { @class = "btn btn-large btn-block" })
    </center>
        </td>
</table>
