﻿@using EthoTrak.DatabaseModels;

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Enclosures Assignments";
}
<h3>Enclosures configurations :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add a new configuration", "Add", "EnclosureAssignment", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Animal</th>
        <th>Enclosure</th>
        <th>Move in Date</th>
        <th>Move out Date</th>
        <th>Comments</th>
        <th>Last Modified</th>        
        <th></th>
        <th></th>
    </tr>

    @foreach (TblANIM_ENCLO assignment in @ViewBag.assignments) {

    <tr>
        <td>@assignment.ENCLOS_REC</td>
        <td>@assignment.ANIM_ID</td>
        <td>@assignment.ENCLOS_ID</td>
        <td>@assignment.IN_DATE.Value.ToShortDateString()</td>
        <td>@if (assignment.OUT_DATE.HasValue)  { @assignment.OUT_DATE.Value.ToShortDateString() }</td>
        <td>@assignment.COMMENTS</td>
        <td>@assignment.ACT_DT</td> 
        <td>@Html.ActionLink("Edit", "Edit", "EnclosureAssignment", new {id = assignment.ENCLOS_REC}, new { @class="btn btn-small"})</td>
        <td>@Html.ActionLink("Delete", "Delete", "EnclosureAssignment", new { id = assignment.ENCLOS_REC }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('assignment')" })</td>
    </tr>
    }
</table>