﻿@{
    ViewBag.Title = "Select Area";
}

<h4>Pick an area :</h4>

@using (Html.BeginForm("PickEnclosure", "EnclosureAssignment"))
{
    <fieldset>

        <div class="editor-label">
            Area Name
        </div>
        <div class="editor-field">
            @Html.DropDownList("idArea", new SelectList(@ViewBag.areas, "Value", "Text"))
        </div>

        <center><input type="submit" class="btn" value="Select Area" /></center>
        <br />

    </fieldset>
}
