﻿@model EthoTrak.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<center><h3 style="text-decoration:none;">Change password</h3></center>
<br />
<center><p class="message-success">@ViewBag.StatusMessage</p></center>
    

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
