﻿@using EthoTrak.DatabaseModels;

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Enclosures Assignments";
}
<h3>Keeper Assignments :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add a new assignment", "PickExhibit", "KeeperAssignment", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Keeper</th>
        <th>Exhibit</th>
        <th>Added on</th>       
        <th></th>
    </tr>

    @foreach (TblEXHIB_KEEP assignment in @ViewBag.assignments) {

    <tr>
        <td>@assignment.REC_ID</td>
        <td>@assignment.KEEP_ID</td>
        <td>@assignment.EXHIB_ID</td>
        <td>@assignment.ADD_DATE.Value.ToShortDateString()</td>
        <td>@Html.ActionLink("Delete", "Delete", "KeeperAssignment", new { id = assignment.REC_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('assignment')" })</td>
    </tr>
    }
</table>