﻿@using EthoTrak.DatabaseModels

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Enclosures";
}
<h3>Enclosures :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add an enclosure", "Add", "Enclosure", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Enclosure Name</th>
        <th>Area Name</th>
        <th>Comments</th>
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (TblENCLOS_ID enclosure in @ViewBag.enclosures) {

    <tr>
        <td>@enclosure.ENCLOS_ID</td>
        <td>@enclosure.ENCLOS</td>
        <td>@enclosure.AREA_ID</td>
        <td>@enclosure.COMMENTS</td>
        <td>@enclosure.ACT_DT</td> 
        <td>@Html.ActionLink("Edit", "Edit", "Enclosure", new {id = enclosure.ENCLOS_ID}, new { @class="btn btn-small"})</td>
        <td>@Html.ActionLink("Delete", "Delete", "Enclosure", new { id = enclosure.ENCLOS_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('enclosure')" })</td>
    </tr>
    }
</table>