﻿@model EthoTrak.DatabaseModels.TblLOC_ID

@{
    ViewBag.Title = "Locations - Edit";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Location", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <div class="editor-label">
            Location Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.LOC)
        </div>  
        
        <div class="editor-label">
            In Enclosure
        </div>
            <div class="editor-field">
            @Html.DropDownListFor(model => model.ENCLOS_ID, new SelectList(@ViewBag.enclosures, "Value", "Text"))
        </div> 

        <div class="editor-label">
            Added on
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.ADD_DATE, new { disabled = "disabled", @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })    
        </div>

         <br />
        <center><input type="submit" class="btn btn-success" value="Save Changes" /></center>
        <br />

    </fieldset>
}